# Папки с данными
# Содержимое этих папок не будет отслеживаться
/data/audio/
/data/segment_audio/
/data/dataset/

# Папки с логами и результатами обучения
/logdir/
/outdir/

# Сгенерированные файлы
*.log
*.pt
*.pth
*.pt.bak
ruslan_global_mean.npy

# Кэш Python и Jupyter
__pycache__/
/venv/
*.pyc
.ipynb_checkpoints/

# Системные файлы
.DS_Store
Thumbs.db 

.yaml
/mlruns/
/output/
/data/checkpoint/
/data/dataset/
/data/segment_audio/
/data/audio/
/data/dataset/
/data/segment_audio/
/data/audio/
/data/dataset/
/data/segment_audio/
/data/audio/
/hifigan/
*.md
generated_audio.wav
out.png