matplotlib
numpy
scipy
inflect==0.2.5
librosa
soundfile
tensorboardX
Unidecode
tqdm
# Заменено на transformers для более производительной пакетной обработки
# openai-whisper
transformers==4.41.2
accelerate
datasets
opencv-python-headless
transliterate
# Добавлено для поддержки FP16 обучения
apex
# Для мониторинга обучения
tensorboard>=2.0
mlflow>=2.13
