matplotlib
numpy
scipy
inflect==0.2.5
librosa
soundfile
tensorboardX
Unidecode
tqdm
# Заменено на transformers для более производительной пакетной обработки
# openai-whisper
transformers==4.41.2
accelerate
datasets
opencv-python-headless
