matplotlib
numpy
scipy
inflect==0.2.5
librosa
tensorflow-cpu
tensorboardX
Unidecode
tqdm
# Заменено на transformers для более производительной пакетной обработки
# openai-whisper
transformers
accelerate
datasets
